[submodule "EclipseEngine/Libs/glfw"]
	path = EclipseEngine/Libs/glfw
	url = https://github.com/glfw/glfw
[submodule "EclipseEngine/Libs/Stb"]
	path = EclipseEngine/Libs/Stb
	url = https://github.com/nothings/stb
[submodule "EclipseEngine/Libs/TinyOBJ"]
	path = EclipseEngine/Libs/TinyOBJ
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "EclipseEngine/Libs/AudioFile"]
	path = EclipseEngine/Libs/AudioFile
	url = https://github.com/adamstark/AudioFile
